<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majortom.dao.IdentificationMapper">
    <insert id="insert">
        insert into identification(i_id,user_id,c_i_id,nick_name,password,level,autograph,register_time,y_money)
        values (#{iId},#{userId},#{cIId},#{nickName},#{password},#{level},#{autograph},#{registerTime},#{yMoney})
    </insert>
    <select id="queryUserByIdentificationId" resultType="com.majortom.entity.User">
        select u.* from user u join identification i on u.user_id = i.user_id
    </select>
</mapper>