<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majortom.dao.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        insert into user(user_Id,user_name,gender,age,birthday,tel,email,address,id_num,nick_name) values (#{userId},#{userName},#{gender},#{age},#{birthday},#{tel},#{email},#{address},#{idNum},#{nickName})
    </insert>
    <select id="queryIdentificationByUserId" resultType="com.majortom.entity.Identification">
        select * from identification where user_id = ${userId}
    </select>
    <select id="queryPrivilegeByUserId" resultType="com.majortom.entity.Privilege">
        select * from privilege where p_id in
        (select p_id from  role_privilege where role_id in
        (select role_id from identification_role where i_id =
        (select i_id from identification where user_id = #{userId})))
    </select>
    <select id="queryExpressionByUserId" resultType="com.majortom.entity.Expression">
        select * from expression e join identification i on e.bind_id = i.i_id where i.user_id=#{userId}
    </select>
    <select id="queryArticleByUserId" resultType="com.majortom.entity.Article">
        select * from article a join identification i on a.bind_id = i.i_id where i.user_id=#{userId}
    </select>
    <select id="queryCommentByUserId" resultType="com.majortom.entity.Comment">
        select * from comment c join identification i on c.publish_id = i.i_id where i.user_id=#{userId}
    </select>
    <select id="queryFollowingUserByUserId" resultType="com.majortom.entity.User">
        select * from user where user_id in
        (select user_id from identification  where i_id in
        (select bind_id from following where type = 1 and i_id =
        (select i_id from identification  where user_id=#{userId})))
    </select>
    <select id="queryFollowersyByUserId" resultType="com.majortom.entity.User">
      select * from user  where user_id in
      (select user_id from identification  where i_id in
      (select i_id from following where type = 1 and bind_id =
      (select i_id from identification where user_id=#{userId})))
    </select>
    <select id="queryCollectionByUserId" resultType="com.majortom.entity.Collection">
      select * from collection  where i_id =
      (select i_id from identification where user_id=#{userId})
    </select>
    <select id="queryBlacklistUserByUserId" resultType="com.majortom.entity.User">
        select * from user where user_id =
        (select user_id from identification where i_id in
        (select id from Blacklist  where type =1 and i_id =
        (select i_id from identification where user_id=#{userId})))
    </select>
    <select id="queryBlacklistMovieGroupInfoByUserId" resultType="com.majortom.entity.MovieGroupInfo">
        select * from movie_group_info where m_info_id in
        (select id from Blacklist  where type =2 and i_id =
        (select i_id from identification where user_id=#{userId}))
    </select>
    <select id="queryFollowingMovieGroupInfoByUserId" resultType="com.majortom.entity.MovieGroupInfo">
        select * from movie_group_info where m_info_id in
        (select bind_id from following where type = 2 and i_id =
        (select i_id from identification  where user_id=#{userId}))
    </select>
    <select id="queryHistoryActivityByUserId" resultType="com.majortom.entity.Activity">
        select * from activity where a_id in
        (select a_id from participant where i_id in
        (select i_id from identification where user_id=#{userId}))
    </select>
    <select id="queryHistoryActivityDetailByUserId" resultType="com.majortom.entity.HistoryActivity">
        select * from participant where i_id in
        (select i_id from identification where user_id=#{userId})
    </select>
    <select id="queryFollowingUserDetailByUserId" resultType="com.majortom.entity.Following">
        select * from following where type = 1 and i_id =
        (select i_id from identification  where user_id=#{userId})
    </select>
    <select id="queryFollowingMovieGroupInfoDetailByUserId" resultType="com.majortom.entity.Following">
        select * from following where type = 2 and i_id =
        (select i_id from identification  where user_id=#{userId})
    </select>
    <select id="queryFollowersDetailByUserId" resultType="com.majortom.entity.Following">
        select * from following where type = 1 and bind_id =
        (select i_id from identification  where user_id=#{userId})
    </select>
    <select id="queryBlacklistUserDetailByUserId" resultType="com.majortom.entity.User">
       select * from blacklist  where type =1 and i_id =
        (select i_id from identification where user_id=#{userId})
    </select>
    <select id="queryBlacklistMovieGroupInfoDetailByUserId" resultType="com.majortom.entity.MovieGroupInfo">
        select * from blacklist  where type =2 and i_id =
        (select i_id from identification where user_id=#{userId})
    </select>
    <select id="queryUserBySearch" resultType="com.majortom.entity.User" parameterType="java.lang.String">
        select * from user  where nick_name like '%${searchText}%'
    </select>
</mapper>